<% if current_user %>
  <p>Hi <%= current_user.email %></p>
<% else %>
  <p>Welcome, guest user!</p>
<% end %>
<% if user_signed_in? %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
<% else %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
<% end %>


<h1>List of Events</h1>

<ul>
  <% @events.each do |event| %>
    <li>
    <!--I want the title to link to the event show page-->
      <%= link_to event.title, event_path(event) %><br>
      Created by: <%= event.creator.email %>
    </li>

<% if current_user %>
  <% if current_user.attending?(event) %>
    <%= button_to "Cancel Attendance", event_attendance_path(event, current_user.attendances.find_by(attended_event_id: event.id)), method: :delete, class: "btn btn-danger" %>
  <% else %>
  <!--I want a button "Attend Event" that when clicked send a confirmation message and after that only the option "Cancel Attendance" is available-->
    <%= button_to "Attend Event", event_attendances_path(event), method: :post, class: "btn btn-primary" %>
  <% end %>
<% end %>

  <% end %>
</ul>

<!-- Button to create a new event-->
<%= link_to "Create Event", new_event_path, class: "btn btn-primary" %>


